// Place all the styles related to the tvShows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.caption {
	position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index:1;
    padding:10px;
    color: #fff;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: 1;
 }